table th {
  background-color: rgb(21, 96, 161);
  color: white;
  padding: 10px 20px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
  
table td {
  background-color: rgb(229, 243, 255);
  padding: 10px 20px;
  border-width: 1px;
  border-style: solid;
}
  
.notice {
  background-color: rgb(176, 253, 239);
  padding-left: 15px;
  padding: 5px;
}

li {
  list-style: none;
  padding-top: 10px;
}
